html{
    background: #AAB6A2;
    height: 100%;
}

#projectsidebar{
    border-right:5px solid #104E8B;
    width:160px;
    min-height:300px;
    display: inline;
    float:left;
}

#projectsidebar a:link {
    color: #104E8B;
}

#projectsidebar a:visited {
    color: #104E8B;
}

#header{
    text-align:center;
}

#footer{
    margin: 15px;
    text-align: center;
    clear: both;
    background-color: #9CAA92;
}

#footer a:link {
    color: #104E8B;
}

#footer a:visited {
    color: #104E8B;
}

#projecttabs li{
    padding:10px;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    display:inline;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#ulprojecttabs{
    text-align:center;
}
/**
#ulprojecttabs a:hover{
    background-color: #1879d8;
}

#ulprojecttabs a:visited{
    text-decoration: none;
    color: black;
}
**/
#projecttabs{
    margin-bottom:2px;
    min-width:800px;
    text-align:center;
}

#projecttabs li:hover{
    background-color: #1879d8;
}

#projecttabs a:visited{
    text-decoration: none;
    color: black;
}

#content{
    max-width: 600px;
    padding: 20px;
    float: left;
}

#content a:link {
    color: #104E8B;
}

#adminsidebar{
    display:inline;
    float:right;
    border-left:5px solid #104E8B;
    width:160px;
    height:300px;
    margin:5px;
}

#adminsidebar a:link {
    color: #104E8B;
}

#adminsidebar a:visited {
    color: #104E8B;
}

#adminsidebar a:hover {
    color: #104E8B;
    font-size:100%;
}

#projectForm{
    display: inline-block;
    float: left;

}
#tablearea{
    display: inline-block;
    float: left;
    width: 900px;
}
table{
    border:2px solid black;
    width:60%;
}
tr.odd {
    background-color: #c1cdc1;
}
tr.even{
    background-color: #FFFFFF;
}
div.flash {
    font-family: Arial, Verdana;
    font-weight: bold;
    display: none;
    position: fixed;
    padding: 10px;
    top: 48px;
    right: 50px;
    min-width: 280px;
    opacity: 0.85;
    margin: 0px 0px 10px 10px;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
    background: #000;
    border: 2px solid #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    z-index: 2;
}

a:link {
    text-decoration: none;
    color: black;
}
