<div id="adminsidebar">    
    <ul>
        <li><a href="{{=URL('default','createproject')}}">Add Project</a></li>
        <li><a href="{{=URL('default','manageprojects')}}">Manage Projects</a></li>
        <li><a href="{{=URL('default','archiveprojects')}}">Archived Projects</a></li>
        <li><a href="{{=URL('default','register')}}">Create User</a></li>
        <li><a href="{{=URL('default','deleteusers')}}">Delete User</a></li>
        <li><a href="{{=URL('default','changepermissions')}}">User Permissions</a></li>
    </ul>
</div>
