/*body {
	width: 1005px;
	font-size: 16px !important;
}

.P1 {
	font-weight: bold;
}

.T3 {
   font-size: 16px;
}

.T12 {
 	font-size: 16px;   
}

.P14 {
	font-size: 16px;
}

.P15 {
	text-decoration: underline;
}*/

span {
    font-size: 16px;
}

h3 {
    font-size: 16px;
}

body {
	width: 1005px;
}
