<!DOCTYPE html>
<html>

<head>
<title>Senior Project</title>
<link rel="stylesheet" href="{{=URL('static','css/style.css')}}" type="text/css" media="all" />
<link rel="stylesheet" href="{{=URL('static','css/jquery.datatables.css')}}" type="text/css" media="all" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{{=URL('static','jqTree/jqtree.css')}}"/>

  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
  <script src="{{=URL('static','js/jquery.js')}}"></script> 
  <script src="{{=URL('static','js/jquery.ui.accordion.js')}}"></script> 
  <script src="{{=URL('static','js/jquery.datatables.js')}}"></script> 
  <script src="{{=URL('static','js/jquery-ui-1.9.0.custom.min.js')}}"></script> 
  <script src="{{=URL('static','jqTree/tree.jquery.js')}}"></script>
<script type="text/javascript">
$(document).ready(function(){

$("#CCD").click(function(){
$("#content").html('{{=ccdForm}}')
})

$("#RFI").click(function(){
$("#content").html('{{=rfiForm}}')
$("#RFI_dateSent").datepicker({"dateFormat": "yy-mm-dd"})
$("#RFI_dateRec").datepicker({"dateFormat": "yy-mm-dd"})
$("#RFI_responseDate").datepicker({"dateFormat": "yy-mm-dd"})
})

$("#Submittal").click(function(){
$("#content").html('{{=submittalForm}}')
})

$("#ProposalRequest").click(function(){
$("#content").html('{{=proposalRequestForm}}')
$("#ProposalRequest_propDate").datepicker({"dateFormat": "yy-mm-dd"})
})

$("#Proposal").click(function(){
$("#content").html('{{=proposalForm}}')
$("#Proposal_propDate").datepicker({"dateFormat": "yy-mm-dd"})
})

$("#MeetingMinutes").click(function(){
$("#content").html('{{=meetingMinutesForm}}')
$("#MeetingMinutes_meetDate").datepicker({"dateFormat": "yy-mm-dd"})
})


var data = [];


{{for index  in range(len(projects)):}}
  data.push({label:"Project "+{{=T(str(projects[index].id))}}, children:[{label:"<a href='{{=URL('default','formtable',vars=dict(formType='RFI',projectNum=projects[index].id))}}'>RFIs</a>"},
  {label:"<a href='{{=URL('default','formtable',vars=dict(formType='Submittal',projectNum=projects[index].id))}}'>Submittals</a>"},
  {label:"<a href='{{=URL('default','formtable',vars=dict(formType='CCD',projectNum=projects[index].id))}}'>CCDs</a>"},
  {label:"<a href='{{=URL('default','formtable',vars=dict(formType='ProposalRequest',projectNum=projects[index].id))}}'>Proposal Requests</a>"},
  {label:"<a href='{{=URL('default','formtable',vars=dict(formType='Proposal',projectNum=projects[index].id))}}'>Proposals</a>"},
  {label:"<a href='{{=URL('default','formtable',vars=dict(formType='MeetingMinutes',projectNum=projects[index].id))}}'>Meeting Minutes</a>"} ]});
  {{pass}} 




$(function() {
    $('#projectsidebar').tree({
        data: data,
        autoEscape:false
    });
});

$("#content").append('{{=table}}');

{{if fullTable==True:}}
$("#content table").dataTable(
  );
{{pass}}


});
</script>

</head>

<body>

    <div id="header">
      <img src="{{=URL('static','images/stock.jpeg')}}"/>
    </div>

    <ul id = "projecttabs">
        <li>Calendar</li>
        <li id="CCD">Upload CCD</li>
        <li id="RFI">Generate RFI</li>
        <li id="Submittal">Upload Submittal</li>
        <li id="ProposalRequest">Generate Proposal Request</li>
        <li id="Proposal">Upload Proposal</li>
        <li id="MeetingMinutes">Meeting Minutes</li>
        <li>Upload Photo</li>
    </ul>
    <hr>
    <div id="projectsidebar">
    

    </div>
    <div id="content">
      
    </div>
    <div id="adminsidebar">
    <ul>
        <li><a href="{{=URL('default','createproject')}}">Add Project</a></li>
    </ul>

    </div>
    

    {{=footer}}
</body>



  </html>
