<!DOCTYPE html>
<html>

<head>
<title>View Archived Project</title>
<link rel="stylesheet" href="{{=css}}" type="text/css" media="all" />
<link rel="stylesheet" href="{{=URL('static','css/jquery.datatables.css')}}" type="text/css" media="all" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{{=URL('static','jqTree/jqtree.css')}}"/>
{{include 'web2py_ajax.html'}}
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
  <script src="{{=URL('static','js/jquery.js')}}"></script> 
  <script src="{{=URL('static','js/jquery.ui.accordion.js')}}"></script> 
  <script src="{{=URL('static','js/jquery.datatables.js')}}"></script> 
  <script src="{{=URL('static','js/jquery-ui-1.9.0.custom.min.js')}}"></script> 
  <script src="{{=URL('static','jqTree/tree.jquery.js')}}"></script>
<script type="text/javascript">
$(document).ready(function(){

var data = [];


data.push(
{label:"<a href='{{=URL('default','newsfeedarchived',vars=dict(formType='NewsFeed',projectNum=project.projNum))}}'>News Feed</a>"},
{label:"<a href='{{=URL('default','formtablearchived',vars=dict(formType='RFI',projectNum=project.projNum))}}'>RFIs</a>"},
{label:"<a href='{{=URL('default','formtablearchived',vars=dict(formType='Submittal',projectNum=project.projNum))}}'>Submittals</a>"}, 
{label:"<a href='{{=URL('default','formtablearchived',vars=dict(formType='CCD',projectNum=project.projNum))}}'>CCDs</a>"},
{label:"<a href='{{=URL('default','formtablearchived',vars=dict(formType='ProposalRequest',projectNum=project.projNum))}}'>Proposal Requests</a>"},
{label:"<a href='{{=URL('default','formtablearchived',vars=dict(formType='Proposal',projectNum=project.projNum))}}'>Proposals</a>"},
{label:"<a href='{{=URL('default','formtablearchived',vars=dict(formType='MeetingMinutes',projectNum=project.projNum))}}'>Meeting Minutes</a>"},
{label:"<a href='{{=URL('default','formtablearchived',vars=dict(formType='Photo',projectNum=project.projNum))}}'>Photos</a>"});

{{pass}}


$(function() {
    $('#projectsidebar').tree({
        data: data,
        autoEscape:false
    });
    var node = $('#projectsidebar').tree('getNodeById', {{=int(request.vars.projectNum[-1])}});
$('#projectsidebar').tree('openNode', node);
});

$('#projectsidebar').bind(
    'tree.click',
    function(event) {
        // The clicked node is 'event.node'
        var node = event.node;
        $('#projectsidebar').tree('toggle', node);
    }
);

$("#content").append('{{=table}}');

{{if fullTable==True:}}
$("#content table").dataTable(
  );
{{pass}}

});

</script>

</head>

<body>
<div class="flash">{{=response.flash or ''}}</div>
   {{=header}}
    <p style="text-align:center;">ARCHIVED MODE</p>
    <hr>
    <div id="projectsidebar">    

    </div>
    <div id="content">
      
    </div>
</body>
</html>
