<!DOCTYPE html>
<html>

<head>
    <title>Manage Users</title>
<link rel="stylesheet" href="{{=URL('static','css/style.css')}}" type="text/css" media="all" />
<link rel="stylesheet" href="{{=URL('static','jqTree/jqtree.css')}}"/>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />

  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

  <script src="{{=URL('static','js/jquery.js')}}"></script> 
  <script src="{{=URL('static','js/jquery.ui.accordion.js')}}"></script> 
  <script src="{{=URL('static','js/jquery-ui-1.9.0.custom.min.js')}}"></script> 
  <script src="{{=URL('static','jqTree/tree.jquery.js')}}"></script>

<script type="text/javascript">
$(document).ready(function(){

//$( "#projectsidebar" ).accordion({  //Sidebar setup
  //    collapsible: true
//    });
//$("#Project_projNum").attr({title:"Project Number"}); want to change display field name
$("#Project_openDate").datepicker({"dateFormat": "yy-mm-dd"});
$("#Project_closedDate").datepicker({"dateFormat": "yy-mm-dd"});

});
</script>

</head>

<body>

    {{=header}}
    
    <div id ="userFunctions">
      
        <a href="{{=URL('default','register')}}">Create User</a>
        <a href="{{=URL('default','deleteusers')}}">Delete Users</a>
    </div>

    <div id="adminsidebar"/>
    <ul>
        <li><a href="{{=URL('default','createproject')}}">Add Project</a></li>
        <li><a href="{{=URL('default','manageprojects')}}">Manage Projects</a></li>
        <li><a href="{{=URL('default','archiveprojects')}}">Archived Projects</a></li>
        <li><a href="{{=URL('default','manageusers')}}">Manage Users</a></li>
    </ul>

    </div>

    <div id="footer">This website brought to you by the Supreme Leader and Minion #2 (Scott)</div>
</body>



  </html>
